.carousel-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 35px 0px 20px 20px;
  padding-right: 25px;
  align-self: flex-end;
  background-color: black;
}

.card-container {
  width: auto;
  list-style: none;
}

.title {
  min-height: 35px;
}

img {
  border-radius: 10px;
  object-fit: cover;
}